### FILE : Fichier d'initialisation de zone. ###
//Format: INIT_INDICATOR + description (voir .h)
//Format: 	AREA=nom de la région + ENCOUTER=0 ou 1 + X=coord_x + Y=coord_y (voir .h pour x y max)
//Format: 		TILE=DATA + BLOCK=bloque ou pas le passage + X=coord_x + Y=coord_y (voir .h pour x y max)
//Format: 			TEXTURE=ID texture du tile

-TEST_ZONE
	AREA=STARTING_VILLAGE_01 ENCOUNTER=0 X=0 Y=0

### END OF FILE ###
