### FILE : Initialisation des fonts de texts du jeu. ###
//format = pathfile / ID de la font

-FONTS
FONT=LIFECRAFT FILEPATH=fonts/lifecraft.ttf
FONT=ARCADE FILEPATH=fonts/arcade_classic.ttf

### END OF FILE ###
