### FILE : Initialisation des items du jeu. ###
//Format: INIT_CHAR + description (voir .h)
//Format: 	MONSTER=nom du monstre
//Format:		TEXTURE=texture du monstre
//Format:		ZONE= nom de la zone du monstre
//Format:		STATS=DATA HEALTH= ARMOR= DAMAGES=

--------CURSED_FOREST:
	MONSTER=SKELETON
		TEXTURE=SKELETON_01
		ZONE=CURSED_FOREST
		STATS=DATA HEALTH=30 ARMOR=0 DAMAGES=2
	MONSTER=BLUE_SKELETON
		TEXTURE=BLUE_SKELETON_01
		ZONE=CURSED_FOREST
		STATS=DATA HEALTH=30 ARMOR=3 DAMAGES=3
	MONSTER=RED_SKELETON
		TEXTURE=RED_SKELETON_01
		ZONE=CURSED_FOREST
		STATS=DATA HEALTH=50 ARMOR=5 DAMAGES=5

--------MORIA:
	MONSTER=SKELETON_SOLDIER
		TEXTURE=SKELETON_02
		ZONE=MORIA
		STATS=DATA HEALTH=50 ARMOR=5 DAMAGES=5
	MONSTER=SKELETON_SERGEANT
		TEXTURE=BLUE_SKELETON_02
		ZONE=MORIA
		STATS=DATA HEALTH=75 ARMOR=8 DAMAGES=8
	MONSTER=SKELETON_CAPTAIN
		TEXTURE=RED_SKELETON_02
		ZONE=MORIA
		STATS=DATA HEALTH=100 ARMOR=10 DAMAGES=10

--------DESTINY_LAKE:
	MONSTER=GOBELIN_MAJOR
		TEXTURE=GOBELIN_01
		ZONE=DESTINY_LAKE
		STATS=DATA HEALTH=100 ARMOR=10 DAMAGES=10
	MONSTER=GOBELIN_COLONEL
		TEXTURE=BLUE_GOBELIN_01
		ZONE=DESTINY_LAKE
		STATS=DATA HEALTH=150 ARMOR=15 DAMAGES=15
	MONSTER=GOBELIN_GENERAL
		TEXTURE=RED_GOBELIN_01
		ZONE=DESTINY_LAKE
		STATS=DATA HEALTH=200 ARMOR=20 DAMAGES=20

--------BOSS:
	MONSTER=MAD_OGRE
		TEXTURE=MAD_OGRE
		STATS=DATA HEALTH=350 ARMOR=35 DAMAGES=35

### END OF FILE ###
