### FILE : Initialisation des items du jeu. ###
//Format: INIT_INDICATOR + description (voir .h)
//Format: 	MONSTER=nom du monstre
//Format:		TEXTURE=texture du monstre
//Format:		ZONE= nom de la zone du monstre
//Format:		STATS=DATA HEALTH= ARMOR= DAMAGES=

### END OF FILE ###
