### FILE : Initialisation des scènes. ###
//Format: INIT_INDICATOR + description (voir .h)
//Format:	SCENE= nom de la scène + PRIORITY=priorité de la scène
//Format 		LIST=OBJS --->définit que l'on va ajouter des valeurs dans la liste d’objets
//Format			OBJ=nom de l'objet / TEXTURE= ID de la texture / BUTTON=0 ou 1 / BUTTON=0 X= pos en x / Y= pos en y
//Format		LIST=TEXTS --->définit que l'on va ajouter des valeurs dans la liste de texts
//Format			TEXT=nom du text / TEXT=text / FONT=ID de la font / CHARAC_SIZE=taille de charactère / BUTTON=0 X= pos en x / Y= pos en y
//format		MUSIC= ID de la musique

________________________________________________________________________________
-START
	SCENE=ITEM PRIORITY=1
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=HOUSE_UP_02 BUTTON=0 X=600 Y=0
			OBJ=BACKGROUND2 TEXTURE=HOUSE_DOWN_02 BUTTON=0 X=600 Y=200
			OBJ=LAURA TEXTURE=VILLAGER_01 BUTTON=0 X=200 Y=200
			OBJ=MIKE TEXTURE=ADVENTURER_01 BUTTON=0 X=400 Y=200
			OBJ=OBJ1 TEXTURE=MYTHIC_PANTS_01 BUTTON=0 X=0 Y=0
			OBJ=OBJ2 TEXTURE=EPIC_PANTS_01 BUTTON=0 X=32 Y=0
			OBJ=OBJ3 TEXTURE=EPIC_PANTS_02 BUTTON=0 X=64 Y=0
			OBJ=OBJ4 TEXTURE=EPIC_PANTS_03 BUTTON=0 X=96 Y=0
			OBJ=OBJ5 TEXTURE=RARE_PANTS_01 BUTTON=0 X=128 Y=0
			OBJ=OBJ6 TEXTURE=RARE_PANTS_02 BUTTON=0 X=160 Y=0
			OBJ=OBJ7 TEXTURE=RARE_PANTS_03 BUTTON=0 X=192 Y=0
			OBJ=OBJ8 TEXTURE=RARE_PANTS_04 BUTTON=0 X=224 Y=0
			OBJ=OBJ9 TEXTURE=RARE_PANTS_05 BUTTON=0 X=256 Y=0
			OBJ=OBJ10 TEXTURE=COMMON_PANTS_00 BUTTON=0 X=288 Y=0
			OBJ=OBJ11 TEXTURE=COMMON_PANTS_01 BUTTON=0 X=320 Y=0
			OBJ=OBJ12 TEXTURE=COMMON_PANTS_02 BUTTON=0 X=352 Y=0
			OBJ=OBJ13 TEXTURE=COMMON_PANTS_03 BUTTON=0 X=384 Y=0
			OBJ=OBJ14 TEXTURE=COMMON_PANTS_04 BUTTON=0 X=416 Y=0
			OBJ=OBJ15 TEXTURE=COMMON_PANTS_05 BUTTON=0 X=448 Y=0
			OBJ=OBJ16 TEXTURE=COMMON_PANTS_06 BUTTON=0 X=480 Y=0
			OBJ=OBJ17 TEXTURE=COMMON_PANTS_07 BUTTON=0 X=512 Y=0
			OBJ=BJ1 TEXTURE=MYTHIC_GAUNTLETS_01 BUTTON=0 X=0 Y=32
			OBJ=BJ2 TEXTURE=EPIC_GAUNTLETS_01 BUTTON=0 X=32 Y=32
			OBJ=BJ3 TEXTURE=EPIC_GAUNTLETS_02 BUTTON=0 X=64 Y=32
			OBJ=BJ4 TEXTURE=EPIC_GAUNTLETS_03 BUTTON=0 X=96 Y=32
			OBJ=BJ5 TEXTURE=RARE_GAUNTLETS_01 BUTTON=0 X=128 Y=32
			OBJ=BJ6 TEXTURE=RARE_GAUNTLETS_02 BUTTON=0 X=160 Y=32
			OBJ=BJ7 TEXTURE=RARE_GAUNTLETS_03 BUTTON=0 X=192 Y=32
			OBJ=BJ8 TEXTURE=RARE_GAUNTLETS_04 BUTTON=0 X=224 Y=32
			OBJ=BJ9 TEXTURE=RARE_GAUNTLETS_05 BUTTON=0 X=256 Y=32
			OBJ=BJ10 TEXTURE=COMMON_GAUNTLETS_00 BUTTON=0 X=288 Y=32
			OBJ=BJ11 TEXTURE=COMMON_GAUNTLETS_01 BUTTON=0 X=320 Y=32
			OBJ=BJ12 TEXTURE=COMMON_GAUNTLETS_02 BUTTON=0 X=352 Y=32
			OBJ=BJ13 TEXTURE=COMMON_GAUNTLETS_03 BUTTON=0 X=384 Y=32
			OBJ=BJ14 TEXTURE=COMMON_GAUNTLETS_04 BUTTON=0 X=416 Y=32
			OBJ=BJ15 TEXTURE=COMMON_GAUNTLETS_05 BUTTON=0 X=448 Y=32
			OBJ=BJ16 TEXTURE=COMMON_GAUNTLETS_06 BUTTON=0 X=480 Y=32
			OBJ=BJ17 TEXTURE=COMMON_GAUNTLETS_07 BUTTON=0 X=512 Y=32
			OBJ=OJ1 TEXTURE=MYTHIC_HELMET_01 BUTTON=0 X=0 Y=64
			OBJ=OJ2 TEXTURE=EPIC_HELMET_01 BUTTON=0 X=32 Y=64
			OBJ=OJ3 TEXTURE=EPIC_HELMET_02 BUTTON=0 X=64 Y=64
			OBJ=OJ4 TEXTURE=EPIC_HELMET_03 BUTTON=0 X=96 Y=64
			OBJ=OJ5 TEXTURE=RARE_HELMET_01 BUTTON=0 X=128 Y=64
			OBJ=OJ6 TEXTURE=RARE_HELMET_02 BUTTON=0 X=160 Y=64
			OBJ=OJ7 TEXTURE=RARE_HELMET_03 BUTTON=0 X=192 Y=64
			OBJ=OJ8 TEXTURE=RARE_HELMET_04 BUTTON=0 X=224 Y=64
			OBJ=OJ9 TEXTURE=RARE_HELMET_05 BUTTON=0 X=256 Y=64
			OBJ=OJ10 TEXTURE=COMMON_HELMET_00 BUTTON=0 X=288 Y=64
			OBJ=OJ11 TEXTURE=COMMON_HELMET_01 BUTTON=0 X=320 Y=64
			OBJ=OJ12 TEXTURE=COMMON_HELMET_02 BUTTON=0 X=352 Y=64
			OBJ=OJ13 TEXTURE=COMMON_HELMET_03 BUTTON=0 X=384 Y=64
			OBJ=OJ14 TEXTURE=COMMON_HELMET_04 BUTTON=0 X=416 Y=64
			OBJ=OJ15 TEXTURE=COMMON_HELMET_05 BUTTON=0 X=448 Y=64
			OBJ=OJ16 TEXTURE=COMMON_HELMET_06 BUTTON=0 X=480 Y=64
			OBJ=OJ17 TEXTURE=COMMON_HELMET_07 BUTTON=0 X=512 Y=64
			OBJ=J1 TEXTURE=MYTHIC_CHEST_01 BUTTON=0 X=0 Y=96
			OBJ=J2 TEXTURE=EPIC_CHEST_01 BUTTON=0 X=32 Y=96
			OBJ=J3 TEXTURE=EPIC_CHEST_02 BUTTON=0 X=64 Y=96
			OBJ=J4 TEXTURE=EPIC_CHEST_03 BUTTON=0 X=96 Y=96
			OBJ=J5 TEXTURE=RARE_CHEST_01 BUTTON=0 X=128 Y=96
			OBJ=J6 TEXTURE=RARE_CHEST_02 BUTTON=0 X=160 Y=96
			OBJ=J7 TEXTURE=RARE_CHEST_03 BUTTON=0 X=192 Y=96
			OBJ=J8 TEXTURE=RARE_CHEST_04 BUTTON=0 X=224 Y=96
			OBJ=J9 TEXTURE=RARE_CHEST_05 BUTTON=0 X=256 Y=96
			OBJ=J10 TEXTURE=COMMON_CHEST_00 BUTTON=0 X=288 Y=96
			OBJ=J11 TEXTURE=COMMON_CHEST_01 BUTTON=0 X=320 Y=96
			OBJ=J12 TEXTURE=COMMON_CHEST_02 BUTTON=0 X=352 Y=96
			OBJ=J13 TEXTURE=COMMON_CHEST_03 BUTTON=0 X=384 Y=96
			OBJ=J14 TEXTURE=COMMON_CHEST_04 BUTTON=0 X=416 Y=96
			OBJ=J15 TEXTURE=COMMON_CHEST_05 BUTTON=0 X=448 Y=96
			OBJ=J16 TEXTURE=COMMON_CHEST_06 BUTTON=0 X=480 Y=96
			OBJ=J17 TEXTURE=COMMON_CHEST_07 BUTTON=0 X=512 Y=96
		LIST=TEXTS
			TEXT=NAME_LAURA STR=LAURA FONT=LIFECRAFT CHARAC_SIZE=50 X=0 Y=200
			TEXT=NAME_MIKE STR=MIKE FONT=ARCADE CHARAC_SIZE=50 X=100 Y=300

________________________________________________________________________________

________________________________________________________________________________
-GAME
	SCENE=GAME PRIORITY=0
		LIST=TEXTS
			TEXT=Je_suis_trofortish STR=Cette_scene_ne_possede_aucun_object_initialise_par_la_scene FONT=LIFECRAFT CHARAC_SIZE=30 X=0 Y=300
			TEXT=Je_suis_trofortish_2 STR=a_part_ce_text,_mais_bel_et_bien_uniquement_des_tiles! FONT=LIFECRAFT CHARAC_SIZE=30 X=0 Y=400

________________________________________________________________________________

________________________________________________________________________________
-PAUSE
	SCENE=PAUSE PRIORITY=2
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=HOUSE_UP_02 BUTTON=0 X=0 Y=0
			OBJ=BACKGROUND2 TEXTURE=HOUSE_DOWN_02 BUTTON=0 X=0 Y=200
			OBJ=BACKGROUND3 TEXTURE=HOUSE_DOWN_02 BUTTON=0 X=0 Y=400
			OBJ=ANDREA TEXTURE=ADVENTURER_01 BUTTON=0 X=333 Y=222
			OBJ=BOUBOULE TEXTURE=ADVENTURER_01 BUTTON=0 X=533 Y=222
		LIST=TEXTS
			TEXT=test1 STR=SCENE:_PAUSE FONT=LIFECRAFT CHARAC_SIZE=100 X=100 Y=300

________________________________________________________________________________


________________________________________________________________________________
-END
	SCENE=END PRIORITY=3
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=HOUSE_UP_01 BUTTON=0 X=0 Y=0
			OBJ=BACKGROUND2 TEXTURE=HOUSE_DOWN_01 BUTTON=0 X=0 Y=200
		LIST=TEXTS
			TEXT=test1 STR=SCENE:_END FONT=LIFECRAFT CHARAC_SIZE=100 X=100 Y=300

________________________________________________________________________________

-NEW_GAME
	SCENE=NEW_GAME PRIORITY=4
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=BACKPACK BUTTON=0 X=12 Y=12

________________________________________________________________________________

________________________________________________________________________________

-LOAD
	SCENE=LOAD PRIORITY=5
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=BACKPACK BUTTON=0 X=100 Y=100

________________________________________________________________________________

________________________________________________________________________________

-OPTION_GAME
	SCENE=OPTION_GAME PRIORITY=6
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=MENU_BG BUTTON=0 X=0 Y=0
			OBJ=OPTION_BG TEXTURE=OPTION_BG BUTTON=0 X=200 Y=50
			OBJ=HOME TEXTURE=BUTTON_EMPTY BUTTON=1 X=272 Y=450
			OBJ=CONTROL TEXTURE=BUTTON_EMPTY BUTTON=0 X=272 Y=360
			OBJ=SONG TEXTURE=BUTTON_EMPTY BUTTON=1 X=272 Y=180
			OBJ=FRAME_RATE_LESS TEXTURE=BUTTON_MINUS BUTTON=1 X=290 Y=280
			OBJ=FRAME_RATE_MORE TEXTURE=BUTTON_PLUS BUTTON=1 X=450 Y=280
		LIST=TEXTS
			TEXT=HOME STR=HOME FONT=ARCADE CHARAC_SIZE=30 X=370 Y=460
			TEXT=CONTROL STR=CONTROL FONT=ARCADE CHARAC_SIZE=30 X=350 Y=370
			TEXT=FRAM_RATE STR=FRAM_RATE FONT=ARCADE CHARAC_SIZE=20 X=360 Y=260
			TEXT=FRAME STR=0 FONT=ARCADE CHARAC_SIZE=30 X=400 Y=290
			TEXT=SONG STR=SONG FONT=ARCADE CHARAC_SIZE=30 X=370 Y=190

________________________________________________________________________________

________________________________________________________________________________

-CREDITS
	SCENE=CREDITS PRIORITY=7
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=BACKPACK BUTTON=0 X=1400 Y=600

________________________________________________________________________________

________________________________________________________________________

-QUIT
	SCENE=QUIT PRIORITY=8
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=BACKPACK BUTTON=0 X=1400 Y=600

________________________________________________________________________________
________________________________________________________________________________

-MAP
	SCENE=MAP PRIORITY=9
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=BACKPACK BUTTON=0 X=1400 Y=600

________________________________________________________________________________
________________________________________________________________________________

-INVENTORY
	SCENE=INVENTORY PRIORITY=10
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=BACKPACK BUTTON=0 X=1400 Y=600

________________________________________________________________________________

________________________________________________________________________________

-QUETES
	SCENE=QUETES PRIORITY=11
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=BACKPACK BUTTON=0 X=1400 Y=600

________________________________________________________________________________
_____________________________________________________________________________

-CARACTERISTIQUE
	SCENE=CARACTERISTIQUE PRIORITY=12
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=BACKPACK BUTTON=0 X=1400 Y=600

________________________________________________________________________

_____________________________________________________________________________

-MENU_PRINCIPAL
	SCENE=MENU_PRINCIPAL PRIORITY=1
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=MENU_BG BUTTON=0 X=0 Y=0
			OBJ=TITLE TEXTURE=TITLE_GAME BUTTON=0 X=100 Y=0
			OBJ=NEW_GAME TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=140
			OBJ=RESUME TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=230
			OBJ=OPTION TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=320
			OBJ=CREDITS TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=410
			OBJ=EXIT TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=500
		LIST=TEXTS
			TEXT=NEW_GAME STR=NEW_GAME FONT=ARCADE CHARAC_SIZE=30 X=335 Y=150
			TEXT=LOAD STR=LOAD FONT=ARCADE CHARAC_SIZE=30 X=365 Y=240
			TEXT=OPTION STR=OPTION FONT=ARCADE CHARAC_SIZE=30 X=345 Y=330
			TEXT=CREDITS STR=CREDITS FONT=ARCADE CHARAC_SIZE=30 X=340 Y=420
			TEXT=EXIT STR=EXIT FONT=ARCADE CHARAC_SIZE=30 X=365 Y=510

________________________________________________________________________


### END OF FILE ###
