### FILE : Initialisation des scènes. ###
//Format: INIT_INDICATOR + description (voir .h)
//Format:	SCENE= nom de la scène + PRIORITY=priorité de la scène
//Format 		LIST=OBJS --->définit que l'on va ajouter des valeurs dans la liste d’objets
//Format			OBJ=nom de l'objet / TEXTURE= ID de la texture / BUTTON=0 ou 1 / BUTTON=0 X= pos en x / Y= pos en y
//Format		LIST=TEXTS --->définit que l'on va ajouter des valeurs dans la liste de texts
//Format			TEXT=nom du text / TEXT=text / FONT=ID de la font / CHARAC_SIZE=taille de charactère / BUTTON=0 X= pos en x / Y= pos en y
//format		MUSIC= ID de la musique

________________________________________________________________________________
-GAME
	SCENE=GAME PRIORITY=0
		LIST=OBJS
			OBJ=MAP TEXTURE=MAP_BUTTON BUTTON=1 X=308 Y=557
			OBJ=QUESTS TEXTURE=QUEST_BUTTON BUTTON=1 X=349 Y=557
			OBJ=CHARACTERISTIC TEXTURE=CHARAC_BUTTON BUTTON=1 X=382 Y=557
			OBJ=INVENTORY TEXTURE=INVENTORY_BUTTON BUTTON=1 X=415 Y=557
			OBJ=PAUSE TEXTURE=COG_BUTTON BUTTON=1 X=448 Y=557

________________________________________________________________________________
-PAUSE
	SCENE=PAUSE PRIORITY=2
		LIST=OBJS
			OBJ=PAUSE_BG TEXTURE=PAUSE_BG BUTTON=0 X=170 Y=80
			OBJ=RESUME TEXTURE=BUTTON_PAUSE_EMPTY BUTTON=1 X=300 Y=140
			OBJ=OPTION TEXTURE=BUTTON_PAUSE_EMPTY BUTTON=1 X=300 Y=220
			OBJ=SAVE TEXTURE=BUTTON_PAUSE_EMPTY BUTTON=1 X=300 Y=300
			OBJ=HOME TEXTURE=BUTTON_PAUSE_EMPTY BUTTON=1 X=300 Y=385
			OBJ=bg_interface TEXTURE=BG_INTERFACE BUTTON=0 X=0 Y=0
		LIST=TEXTS
			TEXT=RESUME STR=RESUME FONT=ARCADE CHARAC_SIZE=20 X=355 Y=145
			TEXT=OPTION STR=OPTION FONT=ARCADE CHARAC_SIZE=20 X=360 Y=225
			TEXT=SAVE STR=SAVE FONT=ARCADE CHARAC_SIZE=20 X=365 Y=305
			TEXT=HOME STR=HOME FONT=ARCADE CHARAC_SIZE=20 X=365 Y=390
			TEXT=VERSION_GAME STR=V FONT=LIFECRAFT CHARAC_SIZE=10 X=300 Y=125

________________________________________________________________________________
-SAVE
	SCENE=SAVE PRIORITY=2
		LIST=OBJS
			OBJ=YES TEXTURE=BUTTON_PAUSE_EMPTY BUTTON=1 X=195 Y=300
			OBJ=NO TEXTURE=BUTTON_PAUSE_EMPTY BUTTON=1 X=395 Y=300
		LIST=TEXTS
			TEXT=YES STR=YES FONT=LIFECRAFT CHARAC_SIZE=20 X=275 Y=335
			TEXT=SAVE STR=Do_you_want_to_save_? FONT=LIFECRAFT CHARAC_SIZE=40 X=250 Y=280
			TEXT=NO STR=NO FONT=LIFECRAFT CHARAC_SIZE=20 X=480 Y=335

______________________________________________________________________________
-END
	SCENE=END PRIORITY=3
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=HOUSE_UP_01 BUTTON=0 X=0 Y=0
			OBJ=BACKGROUND2 TEXTURE=HOUSE_DOWN_01 BUTTON=0 X=0 Y=200
		LIST=TEXTS
			TEXT=test1 STR=SCENE:_END FONT=LIFECRAFT CHARAC_SIZE=100 X=100 Y=300

________________________________________________________________________________
-NEW_GAME
	SCENE=NEW_GAME PRIORITY=4
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=MENU_BG BUTTON=0 X=0 Y=0
			OBJ=TITLE TEXTURE=CHOOSE_YOUR_HERO BUTTON=0 X=40 Y=0
			OBJ=AVELUS TEXTURE=HUNTER_01 BUTTON=0 X=50 Y=120
			OBJ=VARYAN TEXTURE=WARRIOR_01 BUTTON=0 X=304 Y=120
			OBJ=JAINA TEXTURE=MAGE_01 BUTTON=0 X=554 Y=120
			OBJ=SELECT_AVELUS TEXTURE=CHARACTER_BG BUTTON=1 X=40 Y=90
			OBJ=SELECT_VARYAN TEXTURE=CHARACTER_BG BUTTON=1 X=294 Y=90
			OBJ=SELECT_JAINA TEXTURE=CHARACTER_BG BUTTON=1 X=544 Y=90
			OBJ=AGILITY TEXTURE=AGILITY_ICON BUTTON=0 X=62 Y=280
			OBJ=STRENGHT TEXTURE=STRENGHT_ICON BUTTON=0 X=316 Y=280
			OBJ=WISDOM TEXTURE=WISDOM_ICON BUTTON=0 X=566 Y=280
			OBJ=HOME TEXTURE=BUTTON_EMPTY BUTTON=1 X=510 Y=5
		LIST=TEXTS
			TEXT=AVELUS STR=Avelus FONT=RING CHARAC_SIZE=30 X=110 Y=125
			TEXT=AVELUS_DESC STR=The_Hunter FONT=RING CHARAC_SIZE=15 X=110 Y=175
			TEXT=AVELUS_STORY STR=Story: FONT=RING CHARAC_SIZE=20 X=110 Y=350
			TEXT=AVELUS_STORY_01 STR=Nobody_really_knows FONT=RING CHARAC_SIZE=15 X=53 Y=390
			TEXT=AVELUS_STORY_02 STR=who_is_Avelus. FONT=RING CHARAC_SIZE=15 X=53 Y=410
			TEXT=AVELUS_STORY_03 STR=_ FONT=RING CHARAC_SIZE=15 X=53 Y=430
			TEXT=AVELUS_STORY_04 STR=Rumors_say_he_is_looking FONT=RING CHARAC_SIZE=15 X=53 Y=450
			TEXT=AVELUS_STORY_05 STR=for_a_Goblin_leader,_who FONT=RING CHARAC_SIZE=15 X=53 Y=470
			TEXT=AVELUS_STORY_07 STR=would_have_razed_his FONT=RING CHARAC_SIZE=15 X=53 Y=490
			TEXT=AVELUS_STORY_08 STR=home_village. FONT=RING CHARAC_SIZE=15 X=53 Y=510
			TEXT=AVELUS_STORY_09 STR=Hunting__is_his_domain. FONT=RING CHARAC_SIZE=15 X=53 Y=530
			TEXT=AVELUS_VITALITY STR=:___100 FONT=RING CHARAC_SIZE=25 X=95 Y=218
			TEXT=AVELUS_ARMOR STR=:___50 FONT=RING CHARAC_SIZE=25 X=95 Y=245
			TEXT=AVELUS_SPECIAL STR=:___50 FONT=RING CHARAC_SIZE=25 X=95 Y=273
			TEXT=AVELUS_WEAPONS STR=:___bows FONT=RING CHARAC_SIZE=20 X=95 Y=307
			TEXT=VARYAN STR=Varyan FONT=RING CHARAC_SIZE=30 X=366 Y=125
			TEXT=VARYAN_DESC STR=The_Warrior FONT=RING CHARAC_SIZE=15 X=366 Y=175
			TEXT=VARYAN_STORY STR=Story: FONT=RING CHARAC_SIZE=20 X=366 Y=350
			TEXT=VARYAN_STORY_01 STR=Varyan_was_a_well-known FONT=RING CHARAC_SIZE=15 X=307 Y=390
			TEXT=VARYAN_STORY_02 STR=and_respected_warrior. FONT=RING CHARAC_SIZE=15 X=307 Y=410
			TEXT=VARYAN_STORY_03 STR=He_left_his_sword_for FONT=RING CHARAC_SIZE=15 X=307 Y=430
			TEXT=VARYAN_STORY_04 STR=his_newborn_daughter. FONT=RING CHARAC_SIZE=15 X=307 Y=450
			TEXT=VARYAN_STORY_05 STR=But_one_day_thieves FONT=RING CHARAC_SIZE=15 X=307 Y=470
			TEXT=VARYAN_STORY_07 STR=murdered_the_girl._Since FONT=RING CHARAC_SIZE=15 X=307 Y=490
			TEXT=VARYAN_STORY_08 STR=then,_revenge_is_his FONT=RING CHARAC_SIZE=15 X=307 Y=510
			TEXT=VARYAN_STORY_09 STR=life_purpose. FONT=RING CHARAC_SIZE=15 X=307 Y=530
			TEXT=VARYAN_VITALITY STR=:___100 FONT=RING CHARAC_SIZE=25 X=347 Y=218
			TEXT=VARYAN_ARMOR STR=:___50 FONT=RING CHARAC_SIZE=25 X=347 Y=245
			TEXT=VARYAN_SPECIAL STR=:___50 FONT=RING CHARAC_SIZE=25 X=347 Y=273
			TEXT=VARYAN_WEAPONS STR=:___swords FONT=RING CHARAC_SIZE=20 X=347 Y=307
			TEXT=JAINA STR=Jaina FONT=RING CHARAC_SIZE=30 X=622 Y=125
			TEXT=JAINA_DESC STR=The_Mage FONT=RING CHARAC_SIZE=15 X=622 Y=175
			TEXT=JAINA_STORY STR=Story: FONT=RING CHARAC_SIZE=20 X=622 Y=350
			TEXT=JAINA_STORY_01 STR=Jaina_is_a_talented_and FONT=RING CHARAC_SIZE=15 X=557 Y=390
			TEXT=JAINA_STORY_02 STR=passionate_magician. FONT=RING CHARAC_SIZE=15 X=557 Y=410
			TEXT=JAINA_STORY_03 STR=She_is_always_looking_for FONT=RING CHARAC_SIZE=15 X=557 Y=430
			TEXT=JAINA_STORY_04 STR=knowledge._Currently, FONT=RING CHARAC_SIZE=15 X=557 Y=450
			TEXT=JAINA_STORY_05 STR=she_is_looking_for_a FONT=RING CHARAC_SIZE=15 X=557 Y=470
			TEXT=JAINA_STORY_07 STR=quest_that_will_make FONT=RING CHARAC_SIZE=15 X=557 Y=490
			TEXT=JAINA_STORY_08 STR=her_father_proud_of FONT=RING CHARAC_SIZE=15 X=557 Y=510
			TEXT=JAINA_STORY_09 STR=the_path_she_chooses. FONT=RING CHARAC_SIZE=15 X=557 Y=530
			TEXT=JAINA_VITALITY STR=:___100 FONT=RING CHARAC_SIZE=25 X=600 Y=218
			TEXT=JAINA_ARMOR STR=:___50 FONT=RING CHARAC_SIZE=25 X=600 Y=245
			TEXT=JAINA_SPECIAL STR=:___50 FONT=RING CHARAC_SIZE=25 X=600 Y=273
			TEXT=JAINA_WEAPONS STR=:___staffs FONT=RING CHARAC_SIZE=20 X=600 Y=307
			TEXT=HOME STR=HOME FONT=ARCADE CHARAC_SIZE=35 X=610 Y=10

________________________________________________________________________________
-LOAD
	SCENE=LOAD PRIORITY=5
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=MENU_BG BUTTON=0 X=0 Y=0
			OBJ=BG_LOAD TEXTURE=LOAD_BG BUTTON=0 X=55 Y=10
			OBJ=HOME TEXTURE=BUTTON_EMPTY BUTTON=1 X=272 Y=450
		LIST=TEXTS
			TEXT=HOME STR=HOME FONT=ARCADE CHARAC_SIZE=30 X=370 Y=460


________________________________________________________________________________
-OPTION_GAME
	SCENE=OPTION_GAME PRIORITY=6
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=MENU_BG BUTTON=0 X=0 Y=0
			OBJ=OPTION_BG TEXTURE=OPTION_BG BUTTON=0 X=200 Y=50
			OBJ=HOME TEXTURE=BUTTON_EMPTY BUTTON=1 X=272 Y=450
			OBJ=CONTROL TEXTURE=BUTTON_EMPTY BUTTON=1 X=272 Y=360
			OBJ=SONG TEXTURE=BUTTON_EMPTY BUTTON=1 X=272 Y=180
			OBJ=FRAME_RATE_LESS TEXTURE=BUTTON_MINUS BUTTON=1 X=290 Y=280
			OBJ=FRAME_RATE_MORE TEXTURE=BUTTON_PLUS BUTTON=1 X=450 Y=280
		LIST=TEXTS
			TEXT=HOME STR=HOME FONT=ARCADE CHARAC_SIZE=30 X=370 Y=460
			TEXT=CONTROL STR=CONTROL FONT=ARCADE CHARAC_SIZE=30 X=350 Y=370
			TEXT=FRAM_RATE STR=FRAM_RATE FONT=ARCADE CHARAC_SIZE=20 X=355 Y=260
			TEXT=FRAME STR=0 FONT=ARCADE CHARAC_SIZE=30 X=390 Y=290
			TEXT=SONG STR=SONG FONT=ARCADE CHARAC_SIZE=30 X=340 Y=190
			TEXT=OFFON STR=ON FONT=ARCADE CHARAC_SIZE=30 X=435 Y=190

________________________________________________________________________________
-CREDITS
	SCENE=CREDITS PRIORITY=7
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=BACKPACK BUTTON=0 X=1400 Y=600

________________________________________________________________________
-QUIT
	SCENE=QUIT PRIORITY=8
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=BACKPACK BUTTON=0 X=1400 Y=600

________________________________________________________________________________
-MAP
	SCENE=MAP PRIORITY=9
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=BACKPACK BUTTON=0 X=1400 Y=600

________________________________________________________________________________
-INVENTORY
	SCENE=INVENTORY PRIORITY=10
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=INVENTORY_BG BUTTON=0 X=544 Y=25

________________________________________________________________________________
-QUETES
	SCENE=QUESTS PRIORITY=11
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=QUESTS_BG BUTTON=0 X=40 Y=25
		LIST=TEXTS
			TEXT=QUESTS STR=Quests_: FONT=RING CHARAC_SIZE=30 X=90 Y=60

_____________________________________________________________________________
-CHARACTERISTICS
	SCENE=CHARACTERISTICS PRIORITY=12
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=CHARACTERISTICS_BG BUTTON=0 X=294 Y=25
		LIST=TEXTS
			TEXT=CHARAC STR=None FONT=RING CHARAC_SIZE=30 X=366 Y=60
			TEXT=CHARAC_DESC STR=The_Nobody FONT=RING CHARAC_SIZE=15 X=366 Y=105
			TEXT=VITALITY STR=:___0 FONT=RING CHARAC_SIZE=25 X=347 Y=158
			TEXT=ARMOR STR=:___0 FONT=RING CHARAC_SIZE=25 X=347 Y=182
			TEXT=SPECIAL STR=:___0 FONT=RING CHARAC_SIZE=25 X=347 Y=208
			TEXT=XP STR=:___0 FONT=RING CHARAC_SIZE=25 X=347 Y=234

_____________________________________________________________________________
-MENU_PRINCIPAL
	SCENE=MENU_PRINCIPAL PRIORITY=1
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=MENU_BG BUTTON=0 X=0 Y=0
			OBJ=TITLE TEXTURE=TITLE_GAME BUTTON=0 X=100 Y=0
			OBJ=NEW_GAME TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=140
			OBJ=LOAD TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=230
			OBJ=OPTION TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=320
			OBJ=CREDITS TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=410
			OBJ=EXIT TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=500
		LIST=TEXTS
			TEXT=NEW_GAME STR=NEW_GAME FONT=ARCADE CHARAC_SIZE=30 X=335 Y=150
			TEXT=LOAD STR=LOAD FONT=ARCADE CHARAC_SIZE=30 X=365 Y=240
			TEXT=OPTION STR=OPTION FONT=ARCADE CHARAC_SIZE=30 X=345 Y=330
			TEXT=CREDITS STR=CREDITS FONT=ARCADE CHARAC_SIZE=30 X=340 Y=420
			TEXT=EXIT STR=EXIT FONT=ARCADE CHARAC_SIZE=30 X=365 Y=510

_____________________________________________________________________________
-CONTROL
	SCENE=CONTROL_KEY PRIORITY=1
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=MENU_BG BUTTON=0 X=0 Y=0
			OBJ=OPTION TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=520
			OBJ=KEY_ZQSD TEXTURE=BUTTON_FRENCH_KEYBOARD BUTTON=1 X=40 Y=320
			OBJ=KEY_WASD TEXTURE=BUTTON_ENGLISH_KEYBOARD BUTTON=1 X=460 Y=320
			OBJ=FRENCH TEXTURE=FRENCH_FLAG BUTTON=0 X=40 Y=10
			OBJ=ENGLISH TEXTURE=ENGLISH_FLAG BUTTON=0 X=490 Y=20
		LIST=TEXTS
			TEXT=OPTION STR=OPTION FONT=ARCADE CHARAC_SIZE=30 X=345 Y=530
			TEXT=USER_KEY STR=FRENCH FONT=ARCADE CHARAC_SIZE=30 X=340 Y=250
			TEXT=KEYBOARD STR=KEYBOARD FONT=ARCADE CHARAC_SIZE=30 X=340 Y=290

_____________________________________________________________________________
-HEALTH_HUD
	SCENE=HEALTH_HUD PRIORITY=1
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=MENU_BG BUTTON=0 X=0 Y=0
		LIST=TEXTS
			TEXT=OPTION STR=OPTION FONT=ARCADE CHARAC_SIZE=30 X=345 Y=530

### END OF FILE ###
