### FILE : Initialisation des scènes. ###
//Format : ID de la scène
//Format 	Type de DATA(OBJS)
//Format		INDEX du tableau d'objets
//Format			ID de l'objet / pos en X / pos en Y
//Format	type de DATA(TEXTS)
//Format		"text" / font / taille de charactère / pos en x / pos en y
//format	type de DATA(MUSIC= ID de la musique)

________________________________________________________________________________
-START
	SCENE=START
		LIST=OBJS
			INDEX=0
				OBJ=TEST1 X=0 Y=0
			INDEX=1
				OBJ=PNJ2 X=100 Y=100
				OBJ=PNJ2 X=110 Y=100
				OBJ=PNJ2 X=120 Y=100
				OBJ=PNJ2 X=130 Y=100
				OBJ=PNJ2 X=140 Y=100
				OBJ=PNJ2 X=150 Y=100
				OBJ=PNJ2 X=160 Y=100
				OBJ=PNJ1 X=170 Y=1000
		LIST=TEXTS
			TEXT=Bonjour FONT=LIFECRAFT CHARAC_SIZE=100 X=100 Y=100
			TEXT=SCENE:_START FONT=LIFECRAFT CHARAC_SIZE=100 X=100 Y=300
		MUSIC=OUI

________________________________________________________________________________

________________________________________________________________________________
-GAME
	SCENE=GAME
		LIST=OBJS
			INDEX=0
				OBJ=TEST2 X=0 Y=0
			INDEX=1
				OBJ=BOOTS2 X=500 Y=300
		LIST=TEXTS
			TEXT=SCENE:_GAME FONT=LIFECRAFT CHARAC_SIZE=100 X=100 Y=300

________________________________________________________________________________

________________________________________________________________________________
-PAUSE
	SCENE=PAUSE
		LIST=OBJS
			INDEX=0
				OBJ=TEST2 X=0 Y=0
			INDEX=2
				OBJ=PNJ1 X=333 Y=222
				OBJ=PNJ1 X=533 Y=222
		LIST=TEXTS
			TEXT=SCENE:_PAUSE FONT=LIFECRAFT CHARAC_SIZE=100 X=100 Y=300

________________________________________________________________________________


________________________________________________________________________________
-END
	SCENE=END
		LIST=OBJS
			INDEX=0
				OBJ=TEST1 X=0 Y=0
		LIST=TEXTS
			TEXT=SCENE:_END FONT=LIFECRAFT CHARAC_SIZE=100 X=100 Y=300

________________________________________________________________________________

### END OF FILE ###
