### FILE : Initialisation des sons et des musiques du jeu ###
//Format: INIT_INDICATOR + description (voir .h)
//Format:	AUDIO=nom de l'audio + FILEPATH=chemin d'accès

-SOUNDS

-MUSIC
AUDIO=OUI FILEPATH=sounds/oui.ogg

### END OF FILE ###
