### FILE : Initialisation des textures du jeu. ###
//Format: INIT_INDICATOR + description (voir .h)
//Format: 	TEXTURE=Texture_name
//Format:		FILEPATH=chemin d'accès
//Format:		ANIMATED=0/1 définit si la texture est animée (0 = false, 1 = true)
//Format:		RECT_VALUES=DATA Définit la position puis la taille du carré qui adaptera la texture
//Format:		RECT_START=DATA position de départ et de replacement du carré (si ANIMATED=0 vous pouvez laisser à 0/0)
//Format:		RECT_MAX=DATA position maximum du carré pendant son déplacement (ne pas oublié que c'est le point en haut à gauche donc compter aussi la taille du offset, peut être laissé à 0/0 si ANIMATED=0)
//Format:		RECT_OFFSET=DATA Déplacement du carré en x et en y (si ANIMATED=0 vous pouvez laisser à 0/0)

-BACKGROUNDS

ITEMS:
---------PANTS:
	TEXTURE=MYTHIC_PANTS_01
		FILEPATH=textures/items/pants/mythic/mythic_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=32 Y=32
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=EPIC_PANTS_02
		FILEPATH=textures/items/pants/epic/epic_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=EPIC_PANTS_01
		FILEPATH=textures/items/pants/epic/epic_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=EPIC_PANTS_03
		FILEPATH=textures/items/pants/epic/epic_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_PANTS_01
		FILEPATH=textures/items/pants/rare/rare_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_PANTS_02
		FILEPATH=textures/items/pants/rare/rare_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_PANTS_03
		FILEPATH=textures/items/pants/rare/rare_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_PANTS_04
		FILEPATH=textures/items/pants/rare/rare_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_PANTS_05
		FILEPATH=textures/items/pants/rare/rare_05.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_PANTS_00
		FILEPATH=textures/items/pants/common/common_00.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_PANTS_01
		FILEPATH=textures/items/pants/common/common_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_PANTS_02
		FILEPATH=textures/items/pants/common/common_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_PANTS_03
		FILEPATH=textures/items/pants/common/common_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_PANTS_04
		FILEPATH=textures/items/pants/common/common_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_PANTS_05
		FILEPATH=textures/items/pants/common/common_05.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_PANTS_06
		FILEPATH=textures/items/pants/common/common_06.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_PANTS_07
		FILEPATH=textures/items/pants/common/common_07.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------GAUNTLETS:
	TEXTURE=MYTHIC_GAUNTLETS_01
		FILEPATH=textures/items/gauntlets/mythic/mythic_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=EPIC_GAUNTLETS_01
		FILEPATH=textures/items/gauntlets/epic/epic_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=EPIC_GAUNTLETS_02
		FILEPATH=textures/items/gauntlets/epic/epic_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=EPIC_GAUNTLETS_03
		FILEPATH=textures/items/gauntlets/epic/epic_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_GAUNTLETS_01
		FILEPATH=textures/items/gauntlets/rare/rare_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_GAUNTLETS_02
		FILEPATH=textures/items/gauntlets/rare/rare_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_GAUNTLETS_03
		FILEPATH=textures/items/gauntlets/rare/rare_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_GAUNTLETS_04
		FILEPATH=textures/items/gauntlets/rare/rare_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_GAUNTLETS_05
		FILEPATH=textures/items/gauntlets/rare/rare_05.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_GAUNTLETS_00
		FILEPATH=textures/items/gauntlets/common/common_00.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_GAUNTLETS_01
		FILEPATH=textures/items/gauntlets/common/common_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_GAUNTLETS_02
		FILEPATH=textures/items/gauntlets/common/common_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_GAUNTLETS_03
		FILEPATH=textures/items/gauntlets/common/common_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_GAUNTLETS_04
		FILEPATH=textures/items/gauntlets/common/common_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_GAUNTLETS_05
		FILEPATH=textures/items/gauntlets/common/common_05.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_GAUNTLETS_06
		FILEPATH=textures/items/gauntlets/common/common_06.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_GAUNTLETS_07
		FILEPATH=textures/items/gauntlets/common/common_07.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------HELMET:
	TEXTURE=MYTHIC_HELMET_01
		FILEPATH=textures/items/helmet/mythic/mythic_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=EPIC_HELMET_01
		FILEPATH=textures/items/helmet/epic/epic_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=EPIC_HELMET_02
		FILEPATH=textures/items/helmet/epic/epic_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=EPIC_HELMET_03
		FILEPATH=textures/items/helmet/epic/epic_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_HELMET_01
		FILEPATH=textures/items/helmet/rare/rare_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_HELMET_02
		FILEPATH=textures/items/helmet/rare/rare_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_HELMET_03
		FILEPATH=textures/items/helmet/rare/rare_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_HELMET_04
		FILEPATH=textures/items/helmet/rare/rare_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_HELMET_05
		FILEPATH=textures/items/helmet/rare/rare_05.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_HELMET_00
		FILEPATH=textures/items/helmet/common/common_00.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_HELMET_01
		FILEPATH=textures/items/helmet/common/common_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_HELMET_02
		FILEPATH=textures/items/helmet/common/common_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_HELMET_03
		FILEPATH=textures/items/helmet/common/common_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_HELMET_04
		FILEPATH=textures/items/helmet/common/common_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_HELMET_05
		FILEPATH=textures/items/helmet/common/common_05.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_HELMET_06
		FILEPATH=textures/items/helmet/common/common_06.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_HELMET_07
		FILEPATH=textures/items/helmet/common/common_07.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------CHEST:
	TEXTURE=MYTHIC_CHEST_01
		FILEPATH=textures/items/chest/mythic/mythic_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=EPIC_CHEST_01
		FILEPATH=textures/items/chest/epic/epic_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=EPIC_CHEST_02
		FILEPATH=textures/items/chest/epic/epic_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=EPIC_CHEST_03
		FILEPATH=textures/items/chest/epic/epic_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_CHEST_01
		FILEPATH=textures/items/chest/rare/rare_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_CHEST_02
		FILEPATH=textures/items/chest/rare/rare_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_CHEST_03
		FILEPATH=textures/items/chest/rare/rare_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_CHEST_04
		FILEPATH=textures/items/chest/rare/rare_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RARE_CHEST_05
		FILEPATH=textures/items/chest/rare/rare_05.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_CHEST_00
		FILEPATH=textures/items/chest/common/common_00.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_CHEST_01
		FILEPATH=textures/items/chest/common/common_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_CHEST_02
		FILEPATH=textures/items/chest/common/common_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_CHEST_03
		FILEPATH=textures/items/chest/common/common_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_CHEST_04
		FILEPATH=textures/items/chest/common/common_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_CHEST_05
		FILEPATH=textures/items/chest/common/common_05.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_CHEST_06
		FILEPATH=textures/items/chest/common/common_06.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COMMON_CHEST_07
		FILEPATH=textures/items/chest/common/common_07.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=32 HEIGHT=32
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

CHARACTERS:
---------NPCs:
	TEXTURE=ADVENTURER_01
		FILEPATH=textures/characters/NPCs/adventurer_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=BLACK_SMITH_01
		FILEPATH=textures/characters/NPCs/black_smith_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MEDIC_01
		FILEPATH=textures/characters/NPCs/medic_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=VILLAGER_01
		FILEPATH=textures/characters/NPCs/villager_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=VILLAGER_02
		FILEPATH=textures/characters/NPCs/villager_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=VILLAGER_03
		FILEPATH=textures/characters/NPCs/villager_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=VILLAGER_04
		FILEPATH=textures/characters/NPCs/villager_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=VILLAGER_05
		FILEPATH=textures/characters/NPCs/villager_05.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=VILLAGER_06
		FILEPATH=textures/characters/NPCs/villager_06.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=VILLAGER_07
		FILEPATH=textures/characters/NPCs/villager_07.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GUARD_01
		FILEPATH=textures/characters/NPCs/guard_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GUARD_02
		FILEPATH=textures/characters/NPCs/guard_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GUARD_03
		FILEPATH=textures/characters/NPCs/guard_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GUARD_04
		FILEPATH=textures/characters/NPCs/guard_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------MONSTERS:
	TEXTURE=SKELETON_01
		FILEPATH=textures/characters/monsters/skeleton_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=SKELETON_02
		FILEPATH=textures/characters/monsters/skeleton_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GOBELIN_01
		FILEPATH=textures/characters/monsters/gobelin_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------PLAYERS:
	TEXTURE=WARRIOR_01
		FILEPATH=textures/characters/players/warrior_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=150 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MAGE_01
		FILEPATH=textures/characters/players/mage_01.png
		ANIMATED=1
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=150 Y=0
		RECT_OFFSET=DATA X=50 Y=0
	TEXTURE=HUNTER_01
		FILEPATH=textures/characters/players/hunter_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=150 HEIGHT=400
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

TILES:
---------CAVERN:
	TEXTURE=CAVERN_GROUND_01
		FILEPATH=textures/tiles/cavern/cavern_ground_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_02
		FILEPATH=textures/tiles/cavern/cavern_ground_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_CORNER_01
		FILEPATH=textures/tiles/cavern/cavern_ground_corner_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_CORNER_02
		FILEPATH=textures/tiles/cavern/cavern_ground_corner_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_CORNER_03
		FILEPATH=textures/tiles/cavern/cavern_ground_corner_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_CORNER_04
		FILEPATH=textures/tiles/cavern/cavern_ground_corner_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_01
		FILEPATH=textures/tiles/cavern/cavern_ground_side_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_02
		FILEPATH=textures/tiles/cavern/cavern_ground_side_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_03
		FILEPATH=textures/tiles/cavern/cavern_ground_side_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_04
		FILEPATH=textures/tiles/cavern/cavern_ground_side_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_05
		FILEPATH=textures/tiles/cavern/cavern_ground_side_05.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_06
		FILEPATH=textures/tiles/cavern/cavern_ground_side_06.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_07
		FILEPATH=textures/tiles/cavern/cavern_ground_side_07.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_08
		FILEPATH=textures/tiles/cavern/cavern_ground_side_08.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=LAVA_01
		FILEPATH=textures/tiles/cavern/lava_01.png
		ANIMATED=1
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=300 Y=0
		RECT_OFFSET=DATA X=50 Y=0

---------COBBLE:
	TEXTURE=COBBLE_01
		FILEPATH=textures/tiles/cobble/cobble_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_CORNER_01
		FILEPATH=textures/tiles/cobble/cobble_corner_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_CORNER_02
		FILEPATH=textures/tiles/cobble/cobble_corner_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_CORNER_03
		FILEPATH=textures/tiles/cobble/cobble_corner_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_CORNER_04
		FILEPATH=textures/tiles/cobble/cobble_corner_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_SIDE_01
		FILEPATH=textures/tiles/cobble/cobble_side_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_SIDE_02
		FILEPATH=textures/tiles/cobble/cobble_side_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_SIDE_03
		FILEPATH=textures/tiles/cobble/cobble_side_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_SIDE_04
		FILEPATH=textures/tiles/cobble/cobble_side_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------DIRT:
	TEXTURE=DIRT_01
		FILEPATH=textures/tiles/dirt/dirt_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_CORNER_01
		FILEPATH=textures/tiles/dirt/dirt_corner_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_CORNER_02
		FILEPATH=textures/tiles/dirt/dirt_corner_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_CORNER_03
		FILEPATH=textures/tiles/dirt/dirt_corner_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_CORNER_04
		FILEPATH=textures/tiles/dirt/dirt_corner_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_01
		FILEPATH=textures/tiles/dirt/dirt_side_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_02
		FILEPATH=textures/tiles/dirt/dirt_side_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_03
		FILEPATH=textures/tiles/dirt/dirt_side_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_04
		FILEPATH=textures/tiles/dirt/dirt_side_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_05
		FILEPATH=textures/tiles/dirt/dirt_side_05.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_06
		FILEPATH=textures/tiles/dirt/dirt_side_06.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_07
		FILEPATH=textures/tiles/dirt/dirt_side_07.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_08
		FILEPATH=textures/tiles/dirt/dirt_side_08.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------GRASS:
	TEXTURE=GRASS_01
		FILEPATH=textures/tiles/grass/grass_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_02
		FILEPATH=textures/tiles/grass/grass_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_CORNER_01
		FILEPATH=textures/tiles/grass/grass_corner_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_CORNER_02
		FILEPATH=textures/tiles/grass/grass_corner_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_CORNER_03
		FILEPATH=textures/tiles/grass/grass_corner_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_CORNER_04
		FILEPATH=textures/tiles/grass/grass_corner_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_01
		FILEPATH=textures/tiles/grass/grass_side_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_02
		FILEPATH=textures/tiles/grass/grass_side_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_03
		FILEPATH=textures/tiles/grass/grass_side_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_04
		FILEPATH=textures/tiles/grass/grass_side_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_05
		FILEPATH=textures/tiles/grass/grass_side_05.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_06
		FILEPATH=textures/tiles/grass/grass_side_06.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_07
		FILEPATH=textures/tiles/grass/grass_side_07.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_08
		FILEPATH=textures/tiles/grass/grass_side_08.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------LAND:
	TEXTURE=MUD_01
		FILEPATH=textures/tiles/land/mud_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MUD_02
		FILEPATH=textures/tiles/land/mud_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROAD_01
		FILEPATH=textures/tiles/land/road_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROAD_02
		FILEPATH=textures/tiles/land/road_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROAD_03
		FILEPATH=textures/tiles/land/road_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROAD_04
		FILEPATH=textures/tiles/land/road_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROAD_05
		FILEPATH=textures/tiles/land/road_05.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=SAND_01
		FILEPATH=textures/tiles/land/sand_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=SAND_02
		FILEPATH=textures/tiles/land/sand_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=SAND_03
		FILEPATH=textures/tiles/land/sand_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=SAND_04
		FILEPATH=textures/tiles/land/sand_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------MISC:
	TEXTURE=CAMPFIRE_01
		FILEPATH=textures/tiles/misc/campfire_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAMPFIRE_02
		FILEPATH=textures/tiles/misc/campfire_02.png
		ANIMATED=1
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=100 Y=0
		RECT_OFFSET=DATA X=50 Y=0
	TEXTURE=HOUSE_01
		FILEPATH=textures/tiles/misc/house_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=150 HEIGHT=200
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=HOUSE_02
		FILEPATH=textures/tiles/misc/house_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=150 HEIGHT=200
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=HOUSE_03
		FILEPATH=textures/tiles/misc/house_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=150 HEIGHT=200
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROCK_01
		FILEPATH=textures/tiles/misc/rock_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROCK_02
		FILEPATH=textures/tiles/misc/rock_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROCK_03
		FILEPATH=textures/tiles/misc/rock_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=150
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROCK_04
		FILEPATH=textures/tiles/misc/rock_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=TREE_01
		FILEPATH=textures/tiles/misc/tree_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WELL_01
		FILEPATH=textures/tiles/misc/well_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------MOUNTAIN:
	TEXTURE=MOUNTAIN_CORNER_01
		FILEPATH=textures/tiles/mountain/mountain_corner_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_CORNER_02
		FILEPATH=textures/tiles/mountain/mountain_corner_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_CORNER_03
		FILEPATH=textures/tiles/mountain/mountain_corner_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_CORNER_04
		FILEPATH=textures/tiles/mountain/mountain_corner_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_DOWN_BACK_01
		FILEPATH=textures/tiles/mountain/mountain_down_back_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_DOWN_BACK_02
		FILEPATH=textures/tiles/mountain/mountain_down_back_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_DOWN_CONER_01
		FILEPATH=textures/tiles/mountain/mountain_down_corner_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_DOWN_CONER_02
		FILEPATH=textures/tiles/mountain/mountain_down_corner_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_DOWN_FACE_01
		FILEPATH=textures/tiles/mountain/mountain_down_face_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_DOWN_FACE_02
		FILEPATH=textures/tiles/mountain/mountain_down_face_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_DOWN_FACE_03
		FILEPATH=textures/tiles/mountain/mountain_down_face_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_ENTRY_01
		FILEPATH=textures/tiles/mountain/mountain_entry_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_UP_CORNER_01
		FILEPATH=textures/tiles/mountain/mountain_up_corner_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_UP_CORNER_02
		FILEPATH=textures/tiles/mountain/mountain_up_corner_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_UP_CORNER_03
		FILEPATH=textures/tiles/mountain/mountain_up_corner_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_UP_CORNER_04
		FILEPATH=textures/tiles/mountain/mountain_up_corner_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_UP_SIDE_01
		FILEPATH=textures/tiles/mountain/mountain_up_side_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_UP_SIDE_02
		FILEPATH=textures/tiles/mountain/mountain_up_side_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_UP_SIDE_03
		FILEPATH=textures/tiles/mountain/mountain_up_side_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------WATER:
	TEXTURE=POND_DOWN_01
		FILEPATH=textures/tiles/water/pond_down_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=POND_DOWN_02
		FILEPATH=textures/tiles/water/pond_down_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=POND_UP_01
		FILEPATH=textures/tiles/water/pond_up_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=POND_UP_02
		FILEPATH=textures/tiles/water/pond_up_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RIVER_DOWN_01
		FILEPATH=textures/tiles/water/river_down_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RIVER_DOWN_02
		FILEPATH=textures/tiles/water/river_down_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RIVER_UP_01
		FILEPATH=textures/tiles/water/river_up_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RIVER_UP_02
		FILEPATH=textures/tiles/water/river_up_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_01
		FILEPATH=textures/tiles/water/water_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_02
		FILEPATH=textures/tiles/water/water_02.png
		ANIMATED=1
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=150 Y=0
		RECT_OFFSET=DATA X=50 Y=0
	TEXTURE=WATER_CORNER_01
		FILEPATH=textures/tiles/water/water_corner_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_CORNER_02
		FILEPATH=textures/tiles/water/water_corner_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_CORNER_03
		FILEPATH=textures/tiles/water/water_corner_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_CORNER_04
		FILEPATH=textures/tiles/water/water_corner_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_SIDE_01
		FILEPATH=textures/tiles/water/water_side_01.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_SIDE_02
		FILEPATH=textures/tiles/water/water_side_02.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_SIDE_03
		FILEPATH=textures/tiles/water/water_side_03.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_SIDE_03_02
		FILEPATH=textures/tiles/water/water_side_03_02.png
		ANIMATED=1
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=150 Y=0
		RECT_OFFSET=DATA X=50 Y=0
	TEXTURE=WATER_SIDE_04
		FILEPATH=textures/tiles/water/water_side_04.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

HUD:
---------TITLE_GAME:
	TEXTURE=TITLE_GAME
		FILEPATH=textures/hud/background/title.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=558 HEIGHT=103
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------INVENTORY:
	TEXTURE=BACKPACK
		FILEPATH=textures/hud/inventory/backpack.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=206 HEIGHT=275
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------BACKGROUND:
	TEXTURE=MENU_BG
		FILEPATH=textures/hud/background/bg_menu.png
		ANIMATED=1
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=800 HEIGHT=600
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=800 Y=600
		RECT_OFFSET=DATA X=1 Y=0

---------BUTTON:
	TEXTURE=BG_BUTTON
		FILEPATH=textures/hud/bg_button.png
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=282 HEIGHT=63
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

### END OF FILE ###
